<app-navbar></app-navbar>
<table border="1">
  <thead>
    <tr>
      <th>Registro</th>
      <th>Productos</th>
      <th>Fecha Registrada</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let registro of registros">
      <td>${{ registro.registro }}</td>
      <td>
        <table border="1">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Cantidad</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of registro.productos">
              <td>{{ producto.nombre }}</td>
              <td>{{ producto.cantidad }}</td>
              <td>${{ producto.subtotal }}</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>{{ registro.date | date: 'short' }}</td>
    </tr>
  </tbody>
</table>
