<app-navbar></app-navbar>

<h1>productos</h1>

<div class="image">
  <img src="../../../assets/imagenes/imagen.png" alt="" />
</div>

<button routerLink="/inicio" class="volver">volver</button>

<div></div>

<section class="contenedor">
  <!-- Contenedor de elementos -->
  <div *ngFor="let p of products" class="contenedor-items">
    <div class="item">
      <span class="titulo-item">{{ p.producto || "sin nombre" }}</span>
      <img [src]="p.imagen" alt="img" class="img-item" />
      <span class="precio-item">${{ p.precio }}</span>
      <button (click)="agregar(p.id)" class="boton-item">
        Agregar al Carrito
      </button>
    </div>
  </div>
</section>

<!-- Carrito de Compras -->
<div style="top: 128%; left: 29%" *ngIf="mostrar" class="carrito" id="carrito">
  <div class="header-carrito">
    <h2>Tu Carrito</h2>
    <span style="cursor: pointer" (click)="cerrar()" class="boto">X </span>
  </div>

  <div style="background-color: aquamarine" *ngFor="let pd of carrito">
    <img width="100" [src]="pd.imagen" alt="" />
    <div class="pd">
      <span>Nombre: </span>
      <span>{{ pd.producto }}</span>
    </div>
    <div class="pd">
      <span>Precio: </span>
      <span>{{ pd.precio }}</span>
    </div>

    <button (click)="reducir(pd.id)" style="border-radius: 50%; padding: 9px">
      -
    </button>
    <span>{{ pd.cantidad }}</span>
    <button (click)="aumentar(pd.id)" style="border-radius: 50%; padding: 9px">
      +
    </button>
    <button
      (click)="eliminar(pd.id)"
      style="
        border-radius: 50%;
        padding: 9px;
        background-color: red;
        color: white;
      "
    >
      Eliminar
    </button>
    <div>
      <span>Subtotal: </span>
      <span>{{ pd.precio * pd.cantidad }}</span>
    </div>
  </div>

  <div class="carrito-total">
    <div class="fila">
      <strong>Tu Total</strong>
      <span class="carrito-precio-total"> ${{ subtotal }}</span>
    </div>
    <button (click)="pagar()" class="btn-pagar">
      Pagar <i class="fa-solid fa-bag-shopping"></i>
    </button>
  </div>
</div>
<div style="position: absolute; top: 119%; left: 31%" *ngIf="modal" class="pagar">
  <span style="cursor: pointer;" (click)="cerrar2()">X</span>
  <h2>Total a pagar</h2>
  <span>{{subtotal}}</span>
  <h2>Paga con:</h2>
  <input name="cancelado" type="number" [(ngModel)]="cancelado" (input)="actualizarDevolucion()" />
  <h2>Total a devolver: {{devolver}}</h2>
  <button (click)="registrar()">Registrar</button>
</div>
